
.main{
    margin-top: 50px;
    padding: 20px;
    border-radius: 5px;
    background-color:whitesmoke;
    box-shadow: 10px 10px 10px #888888;
    display: flex;
    align-items: center;
}

input {
    width: 100%;
}
header{ 
    text-align: center;
    height: 100px;
    background-image: url('./wp7664129.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

button {
    width: 90px;
}

.list {
    display: none;
    padding: 20px 20px 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgb(77, 181, 255);
    box-shadow: 3px 3px 3px #888888;
}

ul {
    margin:0;
    padding:0;
}

li {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 10px;
}

.icons {
    display: flex;
    gap: 10px;
}

.edit-icon-box,
.delete-icon-box {
    cursor: pointer;
}

.delete-icon {
    color: red;
}
